<!-- Social Icons -->
<ul class="icons">
  {%- if site.twitter_url -%}
  <li><a href="{{- site.twitter_url -}}" class="icon-b fa-twitter"><span class="label">Twitter</span></a></li>
  {%- endif -%}
  {%- if site.googlescholar_url -%}
  <li><a href="{{- site.googlescholar_url -}}" class="icon-b fab fa-google"><span class="label">Google Scholar</span></a></li>
  {%- endif -%}
  {%- if site.github_url -%}
  <li><a href="{{- site.github_url -}}" class="icon-b fa-github"><span class="label">GitHub</span></a></li>
  {%- endif -%}
  {%- if site.email -%}
  <li><a href="mailto:{{- site.email -}}" class="icon fa-envelope"><span class="label">Email</span></a></li>
  {%- endif -%}
</ul>
